<!-- BEGIN CONTENT -->
<div class="col-md-12 col-sm-12">
   <h1>Reservar</h1>
   <?php
      if( isset( $this->book ) )
      {
   ?>
         <div class="goods-page">
            <div class="goods-data clearfix">
               <div class="table-wrapper-responsive">
                  <table summary="Shopping cart">
                     <tr>
                        <th class="goods-page-image">Image</th>
                        <th class="goods-page-description" width="80%">Description</th>
                        <th class="goods-page-quantity">Quantity</th>
                        <th class="goods-page-total"><!-- --></th>
                     </tr>
                     <?php
                        foreach( $this->book as $key => $val )
                        {
                     ?>
                           <tr>
                              <td class="goods-page-image">
                                 <a href="#"><img src="<?php echo $this->url( sprintf( "upload/%s", $val[ "file_upload" ] ) ) ?>" alt="Berry Lace Dress"></a>
                              </td>
                              <td class="goods-page-description">
                                 <h3>
                                    <a href="<?php echo $this->url( sprintf( "product/id/%d", $val[ "id" ] ) ) ?>">
                                       Cool green dress with red bell
                                    </a>
                                 </h3>
                              </td>
                              <td class="goods-page-quantity">
                                 <div class="product-quantity">
                                    <input id="product-quantity" type="text" value="1" readonly class="form-control input-sm">
                                 </div>
                              </td>
                              <td class="del-goods-col">
                                 <a class="del-goods" href="<?php echo $this->url( sprintf( "cart/remove/id/%d", $val[ "id" ] ) ) ?>">&nbsp;</a>
                              </td>
                           </tr>
                     <?php
                        }
                     ?>
                  </table>
               </div>
            </div>
            
            <a href="<?php echo $this->url( "index" ) ?>" class="btn btn-default">Procurar mais livros</a>
            <a href="<?php echo $this->url( sprintf( "cart/reserve/h/%s", md5( $this->login[ "email" ] . $this->login[ "id" ] ) ) ) ?>" class="btn btn-primary">Reservar <i class="fa fa-check"></i></a>
      <?php
         }
         else
         {
      ?>
            <div class="shopping-cart-page">
               <div class="shopping-cart-data clearfix">
                  <p>Your shopping cart is empty!</p>
               </div>
            </div>
      <?php
         }
      ?>

   </div>
</div>
<!-- END CONTENT -->