<html>
   <head>
     <meta name="robots" content="noindex, nofollow"/>
     <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
     <title>Action Controller: Exception caught</title>
     <style type="text/css">
       body {background-color:#fff;color: #333;}
       body, p, ol, ul, td {font-family: verdana, arial, helvetica, sans-serif;font-size:13px;line-height:18px;}
       h1 {line-height:32px}
       pre {background-color: #eee;padding: 10px;font-size: 11px;}
       a {color: #000;}
       a:visited {color: #666;}
       a:hover {color: #fff; background-color:#000;}
     </style>
   </head>
   <body>
      <?php echo $this->layout()->content ?>
   </body>
</html>