<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
  <meta charset="utf-8">
  <title>Metronic Shop UI</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">

  <link rel="shortcut icon" href="favicon.ico">

  <!-- Fonts START -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css"><!--- fonts for slider on the index page -->  
  <!-- Fonts END -->

  <!-- Global styles START -->          
  <link href="<?php echo $this->url( "assets/global/plugins/font-awesome/css/font-awesome.min.css" ) ?>" rel="stylesheet">
  <link href="<?php echo $this->url( "assets/global/plugins/bootstrap/css/bootstrap.min.css" ) ?>" rel="stylesheet">
  <!-- Global styles END --> 
   
  <!-- Page level plugin styles START -->
  <link href="<?php echo $this->url( "assets/global/plugins/fancybox/source/jquery.fancybox.css" ) ?>" rel="stylesheet">
  <link href="<?php echo $this->url( "assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" ) ?>" rel="stylesheet">
  <link href="<?php echo $this->url( "assets/global/plugins/slider-layer-slider/css/layerslider.css" ) ?>" rel="stylesheet">
  <!-- Page level plugin styles END -->

  <!-- Theme styles START -->
  <link href="<?php echo $this->url( "assets/global/css/components.css" ) ?>" rel="stylesheet">
  <link href="<?php echo $this->url( "assets/frontend/layout/css/style.css" ) ?>" rel="stylesheet">
  <link href="<?php echo $this->url( "assets/frontend/pages/css/style-shop.css" ) ?>" rel="stylesheet" type="text/css">
  <link href="<?php echo $this->url( "assets/frontend/pages/css/style-layer-slider.css" ) ?>" rel="stylesheet">
  <link href="<?php echo $this->url( "assets/frontend/layout/css/style-responsive.css" ) ?>" rel="stylesheet">
  <link href="<?php echo $this->url( "assets/frontend/layout/css/themes/red.css" ) ?>" rel="stylesheet" id="style-color">
  <link href="<?php echo $this->url( "assets/frontend/layout/css/custom.css" ) ?>" rel="stylesheet">
  <!-- Theme styles END -->
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="ecommerce">
   <!-- BEGIN TOP BAR -->
   <div class="pre-header">
      <div class="container">
         <div class="row">
         <!-- BEGIN TOP BAR MENU -->
         <div class="col-md-6 col-sm-6 additional-nav pull-right">
            <ul class="list-unstyled list-inline pull-right">
               <?php
                  if( !isset( $this->login[ "id" ] ) )
                  {
               ?>
                     <li><a href="<?php echo $this->url( "login" ) ?>">Login</a></li>
               <?php
                  }
                  else
                  {
               ?>
                     <li><a href="<?php echo $this->url( "me" ) ?>">Minha conta</a></li>
                     <li><a href="<?php echo $this->url( "me/reserved" ) ?>">Minhas reservas</a></li>
                     <li><a href="<?php echo $this->url( "login/logout" ) ?>">Logout</a></li>
               <?php
                  }
               ?>
            </ul>
         </div>
         <!-- END TOP BAR MENU -->
         </div>
      </div>        
   </div>
   <!-- END TOP BAR -->

   <!-- BEGIN HEADER -->
   <div class="header">
      <div class="container">
         <a class="site-logo" href="<?php echo $this->url( "index" ) ?>">
            <img src="<?php echo $this->url( "assets/frontend/layout/img/logos/logo-shop-red.png" ) ?>" alt="Metronic Shop UI">
         </a>

         <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

         <!-- BEGIN NAVIGATION -->
         <div class="header-navigation">
            <ul>
               <?php
                  foreach( $this->categories as $key => $val )
                  {
               ?>
                     <li>
                        <a href="<?php echo $this->url( sprintf( "category/index/id/%d", $val[ "id" ] ) ) ?>"><?php echo $val[ "name" ] ?></a>
                     </li>
               <?php
                  }
               ?>
            </ul>
         </div>
         <!-- END NAVIGATION -->
      </div>
   </div>
   <!-- Header END -->

   <div class="main">
      <div class="container">
         <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
         <div class="row margin-bottom-40">

            <?php echo $this->layout()->content ?>
            
         </div>
      </div>
   </div>

   <!-- BEGIN FOOTER -->
   <div class="footer">
      <div class="container">
         <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-md-6 col-sm-6 padding-top-10">
               2014 © Metronic Shop UI. ALL Rights Reserved. 
            </div>
            <!-- END COPYRIGHT -->
            <!-- BEGIN PAYMENTS -->
            <div class="col-md-6 col-sm-6">
            </div>
            <!-- END PAYMENTS -->
         </div>
      </div>
   </div>
   <!-- END FOOTER -->

   <!-- Load javascripts at bottom, this will reduce page load time -->
   <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
   <!--[if lt IE 9]>
   <script src="../../assets/global/plugins/respond.min.js"></script>  
   <![endif]-->
   <script src="<?php echo $this->url( "assets/global/plugins/jquery.min.js" ) ?>" type="text/javascript"></script>
   <script src="<?php echo $this->url( "assets/global/plugins/jquery-migrate.min.js" ) ?>" type="text/javascript"></script>
   <script src="<?php echo $this->url( "assets/global/plugins/bootstrap/js/bootstrap.min.js" ) ?>" type="text/javascript"></script>      
   <script src="<?php echo $this->url( "assets/frontend/layout/scripts/back-to-top.js" ) ?>" type="text/javascript"></script>
   <script src="<?php echo $this->url( "assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" ) ?>" type="text/javascript"></script>

   <script src="<?php echo $this->url( "assets/frontend/layout/scripts/layout.js" ) ?>" type="text/javascript"></script>
   <script type="text/javascript">
      jQuery(document).ready(function() {
         Layout.init();
      });
   </script>
   <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>