<form action="<?php echo $this->url( "sis/book/update" ) ?>" method="post" enctype="multipart/form-data">
   <input type="hidden" name="id" value="<?php echo $this->params[ "id" ] ?>" />

   <?php
      echo $this->partial( "book/form.phtml", array(
         "page" => $this->page,
         "categories" => $this->categories,
         "book" => $this->book,
         "bookLanguage" => $this->bookLanguage,
         "bookDescription" => $this->bookDescription
      ) )
   ?>
</form>