<div class="portlet light bordered">
   <div class="portlet-body">

      <?php echo $this->partial( "partial/buttons.phtml", array( "controller" => $this->page ) ) ?>

      <hr />

      <div class="row">
         <div class="col-md-6">            
            <h4 class="font-red-sunglo bold uppercase">
               <i class="fa fa-fw fa-desktop"></i> Dados básicos
            </h4>
            <hr />
            
            <div class="row">
               <div class="col-md-5">
                  <div class="form-group">
                     <label class="control-label">Capa</label> <div class="clearfix"></div>
                     <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                           <?php
                              $image = "http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=sem+imagem";
                              
                              if( is_file( sprintf( "upload/%s", $this->book[ "file_upload" ] ) ) )
                              {
                                 $image = $this->url( sprintf( "upload/%s", $this->book[ "file_upload" ] ) );
                              }
                           ?>
                           <img src="<?php echo $image ?>" alt=""/>
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
                        </div>
                        <div>
                           <span class="btn default btn-file">
                              <span class="fileinput-new">Selecione uma imagem</span>
                              <span class="fileinput-exists">Trocar</span>
                              <input type="file" name="file">
                           </span>
                           <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput">Remover</a>
                        </div>
                     </div>
                  </div>
               </div>               
               <div class="col-md-7">
                  <!-- NOME -->
                  <div class="form-group">
                     <label class="control-label">Nome</label>
                     <input type="text" name="book[name]" class="form-control" value="<?php echo isset( $this->book[ "name" ] ) ? $this->book[ "name" ] : "" ?>" />
                  </div>

                  <!-- SITUAÇÃO DO TEXTO -->
                  <div class="form-group">
                     <label class="control-label">Categoria</label>
                     <select name="book[category_id]" class="form-control">
                        <option value="0">Escolha uma categoria</option>
                        <?php
                           foreach( $this->categories as $key => $val )
                           {
                              $selected = "";

                              if( in_array( $this->book[ "category_id" ], array( $val[ "id" ] ) ) )
                              {
                                 $selected = "selected";
                              }
                              ?>
                              <option value="<?php echo $val[ "id" ] ?>" <?php echo $selected ?>><?php echo $val[ "name" ] ?></option>
                              <?php
                           }
                        ?>
                     </select>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-md-6">
            <h4 class="font-green-sharp bold uppercase">
               <i class="fa fa-fw fa-file-text-o"></i> Textos para o site
            </h4>
            <hr />

            <!-- DESCRIÇÃO GOOGLE -->
            <div class="form-group">
               <label class="control-label">Mini descrição</label>
               <textarea name="book_description[mini_description]" class="form-control"><?php echo isset( $this->bookDescription[ "mini_description" ] ) ? $this->bookDescription[ "mini_description" ] : "" ?></textarea>
            </div>

            <!-- MINI DESCRIÇÃO -->
            <div class="form-group">
               <label class="control-label">Descrição</label>
               <textarea name="book_description[description]" class="form-control"><?php echo isset( $this->bookDescription[ "description" ] ) ? $this->bookDescription[ "description" ] : "" ?></textarea>
            </div>
         </div>
      </div>

      <hr />

      <div class="row">
         <div class="col-md-12">

            <h4 class="font-green-sharp bold uppercase"><i class="fa fa-fw fa-file-text-o"></i> Mais Informações</h4>
            <hr />

            <div class="row">
               <div class="col-md-6 col-sm-12">
                  <div class="row">
                     <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                           <label class="control-label">Páginas</label>
                           <input type="text" name="book[number_page]" class="form-control" value="<?php echo isset( $this->book[ "number_page" ] ) ? $this->book[ "number_page" ] : "" ?>" />
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                           <label class="control-label">Cópias</label>
                           <input type="text" name="book[copy]" class="form-control" value="<?php echo isset( $this->book[ "copy" ] ) ? $this->book[ "copy" ] : "" ?>" />
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 col-sm-12">
                  <div class="row">
                     <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                           <label class="control-label">Ano</label>
                           <input type="text" name="book[year]" class="form-control" value="<?php echo isset( $this->book[ "year" ] ) ? $this->book[ "year" ] : "" ?>" />
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                           <label class="control-label">Idioma</label>
                           <select name="book[book_language_id]" class="form-control">
                              <option value="0">Escolha um idioma</option>
                              <?php
                                 foreach( $this->bookLanguage as $key => $val )
                                 {
                                    $selected = "";

                                    if( in_array( $this->book[ "book_language_id" ], array( $val[ "id" ] ) ) )
                                    {
                                       $selected = "selected";
                                    }
                                    ?>
                                    <option value="<?php echo $val[ "id" ] ?>" <?php echo $selected ?>><?php echo $val[ "name" ] ?></option>
                                    <?php
                                 }
                              ?>
                           </select>
                        </div>
                     </div>
                  </div>
               </div>
            </div>            
         </div>
      </div>

      <hr />

      <?php echo $this->partial( "partial/buttons.phtml", array( "controller" => $this->page ) ) ?>

   </div>
</div>