<div class="row">
   <div class="col-md-12 col-sm-12">

      <div class="portlet light bordered">        
         <div class="portlet-body">            
            <form action="<?php echo $this->url( "sis/book/index" ) ?>" method="get">
               <div class="row">
                  <div class="col-md-3">
                     <div class="form-group">
                        <label class="control-label">Nome do Livro</label>
                        <input type="text" name="name" class="form-control" value="<?php echo isset( $this->params[ "name" ] ) ? $this->params[ "name" ] : "" ?>" />
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="form-group">
                        <label class="control-label">Categoria</label>
                        <select name="category_id" class="form-control">
                           <option></option>
                           <?php
                              foreach( $this->category as $key => $val )
                              {
                           ?>
                                 <option value="<?php echo $val[ "id" ] ?>" <?php echo isset( $this->params[ "category_id" ] ) && $this->params[ "category_id" ] == $val[ "id" ] ? "selected" : "" ?>><?php echo $val[ "name" ] ?></option>
                           <?php
                              }
                           ?>
                        </select>
                     </div>
                  </div>
               </div>

               <hr />

               <button type="submit" class="btn purple-plum uppercase">
                  <i class="fa fa-fw fa-search"></i> Pesquisar
               </button>
               
               <a href="<?php echo $this->url( "sis/book/index" ) ?>" class="btn btn-link">Limpar pesquisa</a>
            </form>            
         </div>
      </div>

      <div class="clearfix"></div>

      <div class="portlet light bordered">
         <div class="portlet-title">
            <div class="caption">
               <span class="caption-subject font-green-sharp bold uppercase">
                  Listagem dos livros
               </span>
            </div>

            <a href="<?php echo $this->url( "sis/book/new" ) ?>" class="btn green-sharp pull-right uppercase">
               <i class="fa fa-fw fa-plus"></i> Adicionar novo livro
            </a>
         </div>
         <div class="portlet-body">            
            <table class="table table-hover table-light table-striped">
               <thead>
                  <tr>
                     <th colspan="2">Nome do livro</th>
                     <th>Categoria</th>
                     <th>Autor</th>
                     <th>Páginas</th>
                     <th width="2%"><!-- --></th>
                  </tr>
               </thead>
               <tbody>
                  <?php
                     foreach( $this->books as $key => $val )
                     {
                  ?>
                        <tr>
                           <td width="5%">
                              <img src="<?php echo $this->url( sprintf( "upload/%s", $val[ "file_upload" ] ) ) ?>" alt="" width="100%" />
                           </td>
                           <td><?php echo $val[ "name" ]; ?></td>
                           <td><?php echo $val[ "category_name" ] ?></td>
                           <td>
                              <?php
                                 $author = array();

                                 foreach( $val[ "author" ] as $_key => $_val )
                                 {
                                    $author[] = $_val[ "author_name" ];
                                 }

                                 echo !empty( $author ) ? implode( ", ", $author ) : "---";
                              ?>
                           </td>
                           <td><?php echo $val[ "number_page" ]; ?></td>
                           <td>
                              <a href="<?php echo $this->url( sprintf( "sis/book/edit/id/%d", $val[ "id" ] ) ) ?>" class="btn blue-madison btn-sm">
                                 <i class="fa fa-fw fa-pencil"></i>
                              </a>
                           </td>
                        </tr>
                        <?php
                     }
                  ?>
               </tbody>
            </table>

         </div>
      </div>
   </div>
</div>