<div class="col-md-12 col-sm-12">
   <h2>Novos lançamentos</h2>

   <!-- BEGIN PRODUCT LIST -->
   <div class="row product-list">
      <div class="row">
         <?php
            if( count( $this->books ) > 0 )
            {
               echo $this->partial( "partial/products.phtml", array( "books" => $this->books, "cols" => 3 ) );
            }
            else
            {
               ?>
               <div class="col-md-12">
                  Nenhum livro nessa categoria
               </div>
               <?php
            }
         ?>
      </div>
   </div>
</div>