<?php
   foreach( $this->books as $key => $val )
   {
      $url = $this->url( sprintf( "product/index/id/%d", $val[ "id" ] ) );
?>
      <div class="col-md-<?php echo $this->cols ?> col-sm-6 col-xs-12">
         <div class="product-item">
            <div class="pi-img-wrapper">
               <a href="<?php echo $url ?>">
                  <?php
                     $image = $this->url( "assets/frontend/pages/img/products/model1.jpg" );
                     
                     if( is_file( sprintf( "upload/%s", $val[ "file_upload" ] ) ) )
                     {
                        $image = $this->url( sprintf( "upload/%s", $val[ "file_upload" ] ) );
                     }
                  ?>
                  <img src="<?php echo $image ?>" class="img-responsive" alt="Berry Lace Dress">
               </a>
            </div>
            <h3>
               <a href="<?php echo $url ?>">
                  <?php 
                     $suffix = "";
                     
                     if( strlen( $val[ "name" ] ) > 40 )
                     {
                        $suffix = "...";
                     }
                     
                     echo substr( $val[ "name" ], 0, 30 ) . $suffix;
                  ?>
               </a>
            </h3>
            <div class="pi-price">$29.00</div>
            <a href="<?php echo $url ?>" class="btn btn-default add2cart">Ver detalhes</a>
         </div>
      </div>
      <?php
   }
?>