<div class="row margin-bottom-40">
   <div class="col-md-12 col-sm-12">
      <h2>Most popular products</h2>

      <div class="row">
         <?php
            foreach( $this->related as $key => $val )
            {
               $url = $this->url( sprintf( "product/index/id/%d", $val[ "id" ] ) );
               $file = $this->url( sprintf( "upload/%s", $val[ "file_upload" ] ) );
         ?>
               <div class="col-md-3 col-sm-3">
                  <div class="product-item">
                     <div class="pi-img-wrapper">
                        <a href="<?php echo $url ?>">
                           <img src="<?php echo $file ?>" class="img-responsive" alt="<?php echo $val[ "name" ] ?>">
                        </a>
                     </div>
                     <h3>
                        <a href="<?php echo $url ?>">Berry Lace Dress</a>
                     </h3>
                     <a href="<?php echo $url ?>" class="btn btn-default add2cart">Ver detalhes</a>
                  </div>
               </div>
         <?php
            }
         ?>
      </div>
   </div>
</div>