<div class="sidebar col-md-3 col-sm-5">
   <ul class="list-group margin-bottom-25 sidebar-menu">
      <?php
         foreach( $this->category as $key => $val )
         {
            $class = "";

            if( in_array( $val[ "id" ], array( $this->params[ "id" ] ) ) )
            {
               $class = "active";
            }
            ?>
            <li class="list-group-item clearfix <?php echo $class ?>">
               <a href="<?php echo $this->url( sprintf( "category/index/id/%d", $val[ "id" ] ) ) ?>">
                  <i class="fa fa-angle-right"></i> <?php echo $val[ "name" ] ?>
               </a>
            </li>
            <?php
         }
      ?>
   </ul>
</div>