<form action="<?php echo $this->url( "sis/users/update" ) ?>" method="post" enctype="multipart/form-data">
   <input type="hidden" name="id" value="<?php echo $this->params[ "id" ] ?>" />
   <?php
      echo $this->partial( "users/form.phtml", array(
         "users" => $this->usersInformations
      ) )
   ?>
</form>