<div class="portlet light bordered">
   <div class="portlet-body">

      <?php echo $this->partial( "partial/buttons.phtml", array( "controller" => $this->page ) ) ?>

      <hr />

      <div class="row">
         <div class="col-md-6">            
            <div class="row">             
               <div class="col-md-12">
                  <!-- NOME -->
                  <div class="form-group">
                     <label class="control-label">Nome</label>
                     <input type="text" name="users[name]" class="form-control" value="<?php echo isset( $this->users[ "name" ] ) ? $this->users[ "name" ] : "" ?>" />
                  </div>
                  
                  <!-- NOME -->
                  <div class="form-group">
                     <label class="control-label">E-mail</label>
                     <input type="text" name="users[email]" class="form-control" value="<?php echo isset( $this->users[ "email" ] ) ? $this->users[ "email" ] : "" ?>" />
                  </div>
               </div>
            </div>
         </div>

         <div class="col-md-6">
            <!-- CPF -->
            <div class="form-group">
               <label class="control-label">Telefone</label>
               <input type="text" name="users[phone]" class="form-control" value="<?php echo isset( $this->users[ "phone" ] ) ? $this->users[ "phone" ] : "" ?>" />
            </div>
            
            <!-- CPF -->
            <div class="form-group">
               <label class="control-label">CPF</label>
               <input type="text" name="users[cpf]" class="form-control" value="<?php echo isset( $this->users[ "cpf" ] ) ? $this->users[ "cpf" ] : "" ?>" />
            </div>
         </div>
      </div>
      
      <hr />

      <?php echo $this->partial( "partial/buttons.phtml", array( "controller" => $this->page ) ) ?>

   </div>
</div>