<div class="row">
   <div class="col-md-12 col-sm-12">

      <div class="portlet light bordered">
         <div class="portlet-title">
            <div class="caption">
               <span class="caption-subject font-green-sharp bold uppercase">
                  Listagem de usuários
               </span>
            </div>
         </div>
         <div class="portlet-body">

            <table class="table table-hover table-light table-striped">
               <thead>
                  <tr>
                     <th>ID</th>
                     <th>Nome dos usuários</th>
                     <th>E-mail</th>
                     <th>CPF</th>
                     <th>Telefone</th>
                     <th><!-- --></th>
                  </tr>
               </thead>
               <tbody>
                  <?php
                  if( count( $this->users ) > 0 )
                  {
                     foreach( $this->users as $key => $value )
                     {
                        ?>
                        <tr>
                           <td><?php echo $value[ "id" ] ?></td>
                           <td><?php echo $value[ "name" ] ?></td>
                           <td><?php echo $value[ "email" ] ?></td>
                           <td><?php echo $value[ "cpf" ] ?></td>
                           <td><?php echo $value[ "phone" ] ?></td>
                           <td>
                              <a href="<?php echo $this->url( sprintf( "sis/users/edit/id/%d", $value[ "id" ] ) ) ?>" class="btn blue-madison btn-sm">
                                 <i class="fa fa-fw fa-pencil"></i>
                              </a>
                           </td>
                        </tr>
                        <?php
                     }
                  }
                  else
                  {
                     ?>
                     <tr>
                        <td colspan="4">Nenhum registro</td>
                     </tr>
                     <?php
                  }
                  ?>
               </tbody>
            </table>

         </div>
      </div>
   </div>
</div>