<!-- BEGIN CONTENT -->
<div class="col-md-12 col-sm-7">
   <h1>Minhas Reservas</h1>
   <div class="goods-page">
      <div class="goods-data clearfix">
         <div class="table-wrapper-responsive">
            <table summary="Reserved">
               <tr>
                  <th class="goods-page-image">Image</th>
                  <th class="goods-page-description">Description</th>
                  <th class="goods-page-price text-center">Status</th>
               </tr>
               <?php
                  if( count( $this->reserved ) > 0 )
                  {
                     foreach( $this->reserved as $key => $val )
                     {
                        $bookUrl = $this->url( sprintf( "product/index/id/%d", $val[ "book_id" ] ) );
               ?>
                        <tr>
                           <td class="goods-page-image">
                              <a href="<?php echo $bookUrl ?>">
                                 <img src="<?php echo $this->url( sprintf( "upload/%s", $val[ "file_upload" ] ) ) ?>" alt="Berry Lace Dress">
                              </a>
                           </td>
                           <td class="goods-page-description">
                              <h3>
                                 <a href="<?php echo $bookUrl ?>">
                                    <?php echo $val[ "book_name" ] ?>
                                 </a>
                              </h3>
                           </td>
                           <td class="del-goods-col text-center padding-right-0">
                              <?php echo $val[ "status_name" ] ?>
                           </td>
                        </tr>
               <?php
                     }
                  }
               ?>
            </table>
         </div>
      </div>
   </div>
</div>
<!-- END CONTENT -->