<div class="row">
   <div class="col-md-12 col-sm-12">

      <div class="portlet light bordered">        
         <div class="portlet-body">            
            <form action="<?php echo $this->url( "sis/reserved/index" ) ?>" method="get">
               <div class="row">
                  <div class="col-md-3">
                     <div class="form-group">
                        <label class="control-label">Dados do cliente</label>
                        <input type="text" name="users_info" class="form-control" />
                        <div class="help-block font-grey-mint font-xs">
                           Busque por CPF, nome ou e-mail do cliente
                        </div>
                     </div>
                  </div>
               </div>

               <hr />

               <button type="submit" class="btn purple-plum uppercase">
                  <i class="fa fa-fw fa-search"></i> Pesquisar
               </button>
            </form>            
         </div>
      </div>

      <div class="clearfix"></div>

      <div class="portlet light bordered">
         <div class="portlet-title">
            <div class="caption">
               <span class="caption-subject font-green-sharp bold uppercase">
                  Listagem de Reservas
               </span>
            </div>
         </div>
         <div class="portlet-body">            
            <table class="table table-hover table-light table-striped">
               <thead>
                  <tr>
                     <th width="1%">#</th>
                     <th width="15%">Data da Reserva</th>
                     <th width="8%" class="text-center"># Livro</th>
                     <th>Nome do Livro</th>
                     <th width="8%" class="text-center">CPF</th>
                     <th>Nome do usuário</th>
                     <th>Status</th>
                  </tr>
               </thead>
               <tbody>
                  <?php
                     foreach( $this->reserved as $key => $val )
                     {
                  ?>
                        <tr>
                           <td><?php echo $val[ "id" ] ?></td>
                           <td><?php echo $this->date( $val[ "created_at" ] ) ?></td>
                           <td class="text-center">
                              <a href="<?php echo $this->url( sprintf( "sis/book/edit/id/%d", $val[ "book_id" ] ) ) ?>" target="_blank" >
                                 <?php echo $val[ "book_id" ] ?> <i class="fa fa-fw fa-external-link"></i>
                              </a>
                           </td>
                           <td><?php echo $val[ "book_name" ] ?></td>
                           <td class="text-center">
                              <a href="<?php echo $this->url( sprintf( "sis/users/edit/id/%d", $val[ "users_id" ] ) ) ?>" target="_blank" >
                                 <?php echo $val[ "users_cpf" ] ?>
                              </a>
                           </td>
                           <td><?php echo $val[ "users_name" ] ?></td>
                           <td>
                              <a href="javascript:;" class="change-status-reserve"data-pk="" data-action="status_id" data-reserved-id="<?php echo $val[ "id" ] ?>">
                                 <?php echo $val[ "status_name" ] ?>
                              </a>
                           </td>
                        </tr>
                  <?php
                     }
                  ?>
               </tbody>
            </table>

         </div>
      </div>
   </div>
</div>

<script>
   var statusReservedJsonJS = <?php echo $this->status ?>
</script>