<!-- BEGIN CONTENT -->
<div class="col-md-12 col-sm-12">
   <h1>Login</h1>
   <div class="content-form-page">
      <div class="row">
         <div class="col-md-7 col-sm-7">
            <form class="form-horizontal form-without-legend" role="form" action="<?php echo $this->url( "login/auth" ) ?>" method="post">
               <div class="form-group">
                  <label for="email" class="col-lg-4 control-label">Email <span class="require">*</span></label>
                  <div class="col-lg-8">
                     <input type="text" class="form-control" name="auth[email]">
                  </div>
               </div>
               <div class="form-group">
                  <label for="password" class="col-lg-4 control-label">Senha <span class="require">*</span></label>
                  <div class="col-lg-8">
                     <input type="password" class="form-control" name="auth[password]">
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-2 col-md-offset-4 padding-left-0 padding-top-20">
                     <button type="submit" class="btn btn-primary">Login</button>
                  </div>
                  <div class="col-lg-3 col-md-offset-0 padding-left-0 padding-top-20">
                     <a href="<?php echo $this->url( "register" ) ?>" class="btn btn-default-focus">Registre-se</a>
                  </div>
               </div>
            </form>
         </div>
         <div class="col-md-4 col-sm-4 pull-right">
            <div class="form-info">
               <h2><em>Important</em> Information</h2>
               <p>Duis autem vel eum iriure at dolor vulputate velit esse vel molestie at dolore.</p>

               <button type="button" class="btn btn-default">More details</button>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- END CONTENT -->