<button type="submit" class="btn btn blue-hoki uppercase bold">
   <i class="fa fa-fw fa-lock"></i> Salvar
</button>

<a href="<?php echo $this->url( "sis/category/index" ) ?>" class="btn btn-link">Cancelar</a>