<div class="row">
   <div class="col-md-12 col-sm-12">
      <form action="<?php echo $this->url( "sis/category/update" ) ?>" method="post" enctype="multipart/form-data" class="form">
         <input type="hidden" name="category[id]" value="<?php echo $this->category[ "id" ] ?>" />
         <?php
            echo $this->partial( "category/form.phtml", array(
               "category" => $this->category,
               "page" => $this->page
            ) );
         ?>
      </form>
   </div>
</div>