<div class="portlet light bordered">
   <div class="portlet-body">

      <div class="row">
         <div class="col-md-6">            
            <h4 class="font-red-sunglo bold uppercase">
               <i class="fa fa-fw fa-desktop"></i> Dados básicos
            </h4>
            <hr />

            <!-- NOME -->
            <div class="form-group">
               <label class="control-label">Nome</label>
               <input type="text" name="category[name]" class="form-control" value="<?php echo isset( $this->category[ "name" ] ) ? $this->category[ "name" ] : "" ?>" />
            </div>
         </div>
      </div>

      <hr />

      <?php echo $this->partial( "partial/buttons.phtml", array( "controller" => $this->page ) ) ?>

   </div>
</div>