<div class="row">
   <div class="col-md-12 col-sm-12">

      <div class="portlet light bordered">        
         <div class="portlet-body">            
            <form action="<?php echo $this->url( "sis/category/index" ) ?>" method="get">
               <div class="row">
                  <div class="col-md-3">
                     <div class="form-group">
                        <label class="control-label">Nome</label>
                        <input type="text" name="category[name]" class="form-control" />
                     </div>
                  </div>
               </div>

               <hr />

               <button type="submit" class="btn purple-plum uppercase bold">
                  <i class="fa fa-fw fa-search"></i> Realizar Pesquisa
               </button>
            </form>            
         </div>
      </div>

      <div class="clearfix"></div>

      <div class="portlet light bordered">
         <div class="portlet-title">
            <div class="caption">
               <span class="caption-subject font-green-sharp bold uppercase">
                  Listagem das categorias
               </span>
            </div>

            <a href="<?php echo $this->url( "sis/category/new" ) ?>" class="btn green-sharp pull-right uppercase bold">
               <i class="fa fa-fw fa-plus"></i> Adicionar nova categoria
            </a>
         </div>
         <div class="portlet-body">            
            <table class="table table-hover table-light table-striped">
               <thead>
                  <tr>
                     <th>Nome da categoria</th>
                     <th width="2%"><!-- --></th>
                  </tr>
               </thead>
               <tbody>
                  <?php
                     foreach( $this->categories as $key => $val )
                     {
                        ?>
                        <tr>
                           <td><?php echo $val[ "name" ]; ?></td>
                           <td>
                              <a href="<?php echo $this->url( sprintf( "sis/category/edit/id/%d", $val[ "id" ] ) ) ?>" class="btn blue-madison btn-sm">
                                 <i class="fa fa-fw fa-pencil"></i>
                              </a>
                           </td>
                        </tr>
                        <?php
                     }
                  ?>
               </tbody>
            </table>

         </div>
      </div>
   </div>
</div>