<div class="row">
   <div class="col-md-12 col-sm-12">
      <form action="<?php echo $this->url( "sis/category/create" ) ?>" method="post" enctype="multipart/form-data" class="form">
         <?php
            echo $this->partial( "category/form.phtml", array(
               "page" => $this->page
            ) );
         ?>
      </form>
   </div>
</div>