<ul class="breadcrumb">
   <li>
      <a href="<?php echo $this->url( "index" ) ?>">Home</a>
   </li>
   <?php
      $breadcrumb = array( 
         array( 
            "title" => "Todos os livros", 
            "url" => "category" 
         )
      );
      
      if( isset( $this->thisCategory ) )
      {
         $breadcrumb = array_merge( $breadcrumb, array(
            array(
               "title" => $this->thisCategory[ "name" ],
               "url" => sprintf( "category/index/id/%d", $this->thisCategory[ "id" ] )
            )
         ) );
      }
      
      $totalBreadcrumb = count( $breadcrumb ) - 1;
      
      foreach( $breadcrumb as $key => $val )
      {
         $class = "";
         
         if( $key == $totalBreadcrumb )
         {
            $class = "class='active'";
         }
   ?>
         <li <?php echo $class ?>>
            <?php
               if( empty( $class ) )
               {
            ?>
                  <a href="<?php echo $this->url( $val[ "url" ] ) ?>">
                     <?php echo $val[ "title" ] ?>
                  </a>
            <?php
               }
               else
               {
                  echo $val[ "title" ];
               }
            ?>
         </li>
   <?php
      }
   ?>
</ul>

<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
   <!-- BEGIN CONTENT -->
   <?php echo $this->partial( "partial/side-category.phtml", array( "category" => $this->category ) ) ?>

   <div class="col-md-9 col-sm-9">    
      <!-- BEGIN PRODUCT LIST -->
      <div class="row product-list">
         <div class="row">
            <?php
               if( count( $this->books ) > 0 )
               {
                  echo $this->partial( "partial/products.phtml", array( "books" => $this->books, "cols" => 3 ) );
               }
               else
               {
                  ?>
                  <div class="col-md-12">
                     Nenhum livro nessa categoria
                  </div>
                  <?php
               }
            ?>
         </div>
      </div>
   </div>
   <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->