<div class="row">
   <div class="col-md-6 col-sm-12">
      <div class="portlet light ">
         <div class="portlet-title">
            <div class="caption caption-md">
               <i class="icon-bar-chart theme-font hide"></i>
               <span class="caption-subject theme-font bold uppercase">Sales Summary</span>
            </div>
         </div>
         <div class="portlet-body">
            <div class="row list-separated">
               <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="font-grey-mint font-sm">
                     Usuários
                  </div>
                  <div class="uppercase font-hg font-red-flamingo">
                     <?php echo $this->users; ?> <span class="font-lg font-grey-mint"><i class="fa fa-fw fa-user"></i></span>
                  </div>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="font-grey-mint font-sm">
                     Posts
                  </div>
                  <div class="uppercase font-hg theme-font">
                     <?php echo $this->posts; ?> <span class="font-lg font-grey-mint"><i class="fa fa-fw fa-file-text-o"></i></span>
                  </div>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="font-grey-mint font-sm">
                     Jogos
                  </div>
                
                  <div class="uppercase font-hg font-purple">
                     <?php echo $this->games; ?> <span class="font-lg font-grey-mint"><i class="fa fa-fw fa-gamepad"></i></span>
                  </div>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="font-grey-mint font-sm">
                     Categorias
                  </div>
                  <div class="uppercase font-hg font-blue-sharp">
                     <?php echo $this->category; ?> <span class="font-lg font-grey-mint"><i class="fa fa-fw fa-tags"></i></span>
                  </div>
               </div>
            </div>

            <div id="sales_statistics" class="portlet-body-morris-fit morris-chart" style="height: 260px">
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-6 col-sm-12">
      <div class="portlet light ">
         <div class="portlet-title">
            <div class="caption caption-md">
               <i class="icon-bar-chart theme-font hide"></i>
               <span class="caption-subject theme-font bold uppercase">Usuários</span>
            </div>
         </div>
         <div class="portlet-body">
            <div class="row number-stats margin-bottom-30">
               <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="stat-left">
                     <div class="stat-chart">
                        <div id="sparkline_bar"></div>
                     </div>
                     <div class="stat-number">
                        <div class="title">Total</div>
                        <div class="number">2460</div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="stat-right">
                     <div class="stat-chart">
                        <div id="sparkline_bar2"></div>
                     </div>
                     <div class="stat-number">
                        <div class="title">New</div>
                        <div class="number">719</div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="table-scrollable table-scrollable-borderless">
               <table class="table table-hover table-light">
                  <thead>
                     <tr class="uppercase">
                        <th colspan="2">MEMBER</th>
                        <th>Earnings</th>
                        <th>CASES</th>
                        <th>CLOSED</th>
                        <th>RATE</th>
                     </tr>
                  </thead>
                  <tr>
                     <td class="fit"><img class="user-pic" src="<?php echo $this->url( "manager/assets/admin/layout3/img/avatar4.jpg" ) ?>"></td>
                     <td><a href="#" class="primary-link">Brain</a></td>
                     <td>$345</td>
                     <td>45</td>
                     <td>124</td>
                     <td><span class="bold theme-font">80%</span></td>
                  </tr>
                  <tr>
                     <td class="fit"><img class="user-pic" src="<?php echo $this->url( "manager/assets/admin/layout3/img/avatar5.jpg" ) ?>"></td>
                     <td><a href="#" class="primary-link">Brain</a></td>
                     <td>$345</td>
                     <td>45</td>
                     <td>124</td>
                     <td><span class="bold theme-font">80%</span></td>
                  </tr>
                  <tr>
                     <td class="fit"><img class="user-pic" src="<?php echo $this->url( "manager/assets/admin/layout3/img/avatar6.jpg" ) ?>"></td>
                     <td><a href="#" class="primary-link">Brain</a></td>
                     <td>$345</td>
                     <td>45</td>
                     <td>124</td>
                     <td><span class="bold theme-font">80%</span></td>
                  </tr>
                  <tr>
                     <td class="fit"><img class="user-pic" src="<?php echo $this->url( "manager/assets/admin/layout3/img/avatar7.jpg" ) ?>"></td>
                     <td><a href="#" class="primary-link">Brain</a></td>
                     <td>$345</td>
                     <td>45</td>
                     <td>124</td>
                     <td><span class="bold theme-font">80%</span></td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>