<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
   <!--<![endif]-->
   <head>
      <meta charset="utf-8">
      <title>Livraria - Fake Project - Management</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta content="width=device-width, initial-scale=1" name="viewport">
      <meta content="" name="description">
      <meta content="" name="author">

      <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
      <link href="<?php echo $this->url( "manager/assets/global/plugins/font-awesome/css/font-awesome.min.css" ) ?>" rel="stylesheet" type="text/css">
      <link href="<?php echo $this->url( "manager/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" ) ?>" rel="stylesheet" type="text/css">
      <link href="<?php echo $this->url( "manager/assets/global/plugins/bootstrap/css/bootstrap.min.css" ) ?>" rel="stylesheet" type="text/css">
      <link href="<?php echo $this->url( "manager/assets/global/plugins/uniform/css/uniform.default.css" ) ?>" rel="stylesheet" type="text/css">
      
      <link href="<?php echo $this->url( "manager/assets/global/plugins/morris/morris.css" ) ?>" rel="stylesheet" type="text/css">
      
      <link href="<?php echo $this->url( "manager/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" ) ?>" rel="stylesheet" type="text/css" />
      <link href="<?php echo $this->url( "manager/assets/global/plugins/jquery-tags-input/jquery.tagsinput.css" ) ?>" rel="stylesheet" type="text/css" />

      <link href="<?php echo $this->url( "manager/assets/global/plugins/bootstrap-select/bootstrap-select.min.css" ) ?>" rel="stylesheet" type="text/css" />
      <link href="<?php echo $this->url( "manager/assets/global/plugins/select2/select2.css" ) ?>" rel="stylesheet" type="text/css" />
      <link href="<?php echo $this->url( "manager/assets/global/plugins/jquery-multi-select/css/multi-select.css" ) ?>" rel="stylesheet" type="text/css" />
      <link href="<?php echo $this->url( "manager/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css" ) ?>" rel="stylesheet" type="text/css" />
      
      <link href="<?php echo $this->url( "manager/assets/admin/pages/css/tasks.css" ) ?>" rel="stylesheet" type="text/css"/>      
      <link href="<?php echo $this->url( "manager/assets/global/css/components.css" ) ?>" rel="stylesheet" type="text/css">
      <link href="<?php echo $this->url( "manager/assets/global/css/plugins.css" ) ?>" rel="stylesheet" type="text/css">
      <link href="<?php echo $this->url( "manager/assets/admin/layout3/css/layout.css" ) ?>" rel="stylesheet" type="text/css">
      <link href="<?php echo $this->url( "manager/assets/admin/layout3/css/themes/default.css" ) ?>" rel="stylesheet" type="text/css" id="style_color">
      <link href="<?php echo $this->url( "manager/assets/admin/layout3/css/custom.css" ) ?>" rel="stylesheet" type="text/css">
      
      <link href="<?php echo $this->url( "manager/css/sis.css" ) ?>" rel="stylesheet" type="text/css">

      <link rel="shortcut icon" href="favicon.ico">
   </head>
   <body>
      <div class="page-header">
         <div class="page-header-top">
            <div class="container">
               <div class="page-logo">
                  <a href="index.html">
                     <img src="<?php echo $this->url( "manager/assets/admin/layout3/img/logo-default.png" ) ?>" alt="logo" class="logo-default">
                  </a>
               </div>

               <a href="javascript:;" class="menu-toggler"></a>

               <div class="top-menu">
                  <ul class="nav navbar-nav pull-right">
                     <li class="dropdown dropdown-user dropdown-dark">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                           <img alt="" class="img-circle" src="<?php echo $this->url( "manager/assets/admin/layout3/img/avatar9.jpg" ) ?>">
                           <span class="username username-hide-mobile">Nick</span>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="page-header-menu">
            <div class="container">
               <div class="hor-menu ">
                  <ul class="nav navbar-nav">
                     <?php
                        $menu = $this->menu();
                        
                        foreach( $menu as $key => $val )
                        {
                           $class = "";
                           $data = "";
                           
                           if( !in_array( $key, array( 0, 1 ) ) )
                           {
                              $class = "menu-dropdown classic-menu-dropdown";
                              $data = "data-hover=\"megamenu-dropdown\" data-close-others=\"true\" data-toggle=\"dropdown\"";
                           }
                           
                           if( isset( $this->page ) && in_array( $this->page, array( $val[ "url" ] ) ) )
                           {
                              $class .= " active";
                           }
                     ?>
                           <li class="<?php echo $class ?>">
                              <a href="<?php echo $this->url( sprintf( "sis/%s", $val[ "url" ] ) ) ?>" <?php echo $data ?>>
                                 <?php echo $val[ "title" ] ?>
                                 
                                 <?php echo isset( $val[ "sub" ] ) ? "<i class=\"fa fa-angle-down\"></i>" : "" ?>
                              </a>
                              
                              <?php
                                 if( isset( $val[ "sub" ] ) )
                                 {
                              ?>                                    
                                    <ul class="dropdown-menu pull-left">
                                       <?php
                                          foreach( $val[ "sub" ] as $_key => $_val )
                                          {
                                             $_class = "";
                                             
                                             if( isset( $this->subPage ) && ( in_array( $this->subPage, array( $_val[ "url" ] ) ) && strpos( $class, "active" ) ) )
                                             {
                                                $_class = "active";
                                             }
                                       ?>
                                             <li class="<?php echo $_class ?>">
                                                <a href="<?php echo $this->url( sprintf( "sis/%s/%s", $val[ "url" ], $_val[ "url" ] ) ) ?>">
                                                   <?php echo $_val[ "title" ] ?>
                                                </a>
                                             </li>
                                       <?php
                                          }
                                       ?>
                                    </ul>
                              <?php
                                 }
                              ?>
                           </li>
                     <?php
                        }
                     ?>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="page-container">
         <div class="page-head">
            <div class="container">
               <div class="page-title">
                  <h1>Dashboard <small>statistics & reports</small></h1>
               </div>
            </div>
         </div>
         <div class="page-content">
            <div class="container">
               <ul class="page-breadcrumb breadcrumb">
                  <?php
                     $totalBreadcrumb = count( $this->breadcrumb );
                     
                     foreach( $this->breadcrumb as $key => $val )
                     {
                        $class = "";
                        
                        $key++;
                        
                        if( in_array( $key, array( $totalBreadcrumb ) ) )
                        {
                           $class = "active";
                        }
                  ?>
                        <li class="<?php echo $class ?>">
                           <?php
                              if( empty( $class ) )
                              {
                           ?>
                                 <a href="<?php echo $this->url( sprintf( "sis/%s", $val[ "url" ] ) ) ?>" class="uppercase">
                                    <?php echo $val[ "title" ] ?>
                                 </a>
                                 <i class="fa fa-circle"></i>
                           <?php
                              }
                              else
                              {
                           ?>
                                 <span class="uppercase"><?php echo $val[ "title" ] ?></span>
                           <?php
                              }
                           ?>
                        </li>
                  <?php
                     }
                  ?>
               </ul>

               <?php echo $this->layout()->content ?>

            </div>
         </div>
      </div>
      <div class="page-footer">
         <div class="container">
            2014 &copy; Metronic. All Rights Reserved.
         </div>
      </div>
      <div class="scroll-to-top">
         <i class="icon-arrow-up"></i>
      </div>
      <!--[if lt IE 9]>
      <script src="<?php echo $this->url( "manager/assets/global/plugins/respond.min.js" ) ?>"></script>
      <script src="<?php echo $this->url( "manager/assets/global/plugins/excanvas.min.js" ) ?>"></script> 
      <![endif]-->
      <script>var DEFAULT = "<?php echo $this->url( "" ) ?>";</script>
      <script src="<?php echo $this->url( "manager/assets/global/plugins/jquery-1.11.0.min.js" ) ?>" type="text/javascript"></script>
      <script src="<?php echo $this->url( "manager/assets/global/plugins/jquery-migrate-1.2.1.min.js" ) ?>" type="text/javascript"></script>
      
      <script src="<?php echo $this->url( "manager/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" ) ?>" type="text/javascript"></script>
      <script src="<?php echo $this->url( "manager/assets/global/plugins/bootstrap/js/bootstrap.min.js" ) ?>" type="text/javascript"></script>
      <script src="<?php echo $this->url( "manager/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" ) ?>" type="text/javascript"></script>
      <script src="<?php echo $this->url( "manager/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" ) ?>" type="text/javascript"></script>
      <script src="<?php echo $this->url( "manager/assets/global/plugins/jquery.blockui.min.js" ) ?>" type="text/javascript"></script>
      <script src="<?php echo $this->url( "manager/assets/global/plugins/jquery.cokie.min.js" ) ?>" type="text/javascript"></script>
      <script src="<?php echo $this->url( "manager/assets/global/plugins/uniform/jquery.uniform.min.js" ) ?>" type="text/javascript"></script>
      
      <script src="<?php echo $this->url( "manager/assets/global/plugins/morris/raphael-min.js" ) ?>" type="text/javascript"></script>
      <script src="<?php echo $this->url( "manager/assets/global/plugins/jquery.sparkline.min.js" ) ?>" type="text/javascript"></script>
      
      <script src="<?php echo $this->url( "manager/assets/global/plugins/bootstrap-select/bootstrap-select.min.js" ) ?>" type="text/javascript"></script>
      <script src="<?php echo $this->url( "manager/assets/global/plugins/select2/select2.js" ) ?>" type="text/javascript"></script>
      <script src="<?php echo $this->url( "manager/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" ) ?>" type="text/javascript"></script>
      <script src="<?php echo $this->url( "manager/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js" ) ?>" type="text/javascript"></script>
      
      <script src="<?php echo $this->url( "manager/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" ) ?>" type="text/javascript"></script>
      <script src="<?php echo $this->url( "manager/assets/global/plugins/jquery-tags-input/jquery.tagsinput.min.js" ) ?>" type="text/javascript"></script>

      <script src="<?php echo $this->url( "manager/assets/global/scripts/metronic.js" ) ?>" type="text/javascript"></script>
      <script src="<?php echo $this->url( "manager/assets/admin/layout3/scripts/layout.js" ) ?>" type="text/javascript"></script>
      <script src="<?php echo $this->url( "manager/assets/admin/pages/scripts/tasks.js" ) ?>" type="text/javascript"></script>
      <script src="<?php echo $this->url( "manager/assets/admin/pages/scripts/jquery.friendurl.min.js" ) ?>" type="text/javascript" ></script>
      
      <script src="<?php echo $this->url( "manager/js/sis.js" ) ?>" type="text/javascript"></script>

      <script>
         jQuery( document ).ready( function() {
            Metronic.init();
            Layout.init();
            Tasks.initDashboardWidget();
            
         } );
      </script>
      <!-- END JAVASCRIPTS -->
   </body>
   <!-- END BODY -->
</html>