<button type="submit" class="btn btn blue-hoki uppercase">
   <i class="fa fa-fw fa-lock"></i> Salvar
</button>

<a href="<?php echo $this->url( sprintf( "sis/%s/index", $this->controller ) ) ?>" class="btn btn-link">Cancelar</a>