<div class="row margin-bottom-40">
   <?php echo $this->partial( "partial/side-category.phtml", array( "category" => $this->category ) ) ?>
   
   <div class="col-md-9 col-sm-7">
      <div class="product-page">
         <div class="row">
            <div class="col-md-6 col-sm-6">
               <div class="product-main-image">
                  <?php
                     $image = "";
                     
                     if( is_file( sprintf( "upload/%s", $this->book[ "file_upload" ] ) ) )
                     {
                        $image = $this->url( sprintf( "upload/%s", $this->book[ "file_upload" ] ) );
                     }
                  ?>
                  <img src="<?php echo $image ?>" alt="Cool green dress with red bell" class="img-responsive">
               </div>
            </div>
            <div class="col-md-6 col-sm-6">
               <h1><?php echo $this->book[ "name" ] ?></h1>
               <div class="price-availability-block clearfix">
                  <div class="availability pull-left">
                     Disponibilidade: <strong>Disponível</strong>
                  </div>
               </div>
               <div class="description">
                  <p><?php echo $this->book[ "mini_description" ] ?></p>
               </div>
               <div class="product-page-cart">                  
                  <?php
                     if( !isset( $this->login[ "id" ] ) )
                     {
                  ?>
                        <a href="<?php echo $this->url( "login" ) ?>" class="btn btn-warning">Clique aqui e faça o login para poder reservar</a>
                  <?php
                     }
                     else
                     {
                  ?>
                        <div class="product-quantity">
                           <input id="product-quantity" type="text" value="1" readonly class="form-control input-sm">
                        </div>
                        
                        <form action="<?php echo $this->url( "cart/add" ) ?>" method="post">
                           <input type="hidden" name="id" value="<?php echo $this->book[ "id" ] ?>" />

                           <button class="btn btn-primary" type="submit">Adicionar ao carrinho</button>
                        </form>
                  <?php
                     }
                  ?>
               </div>
               <ul class="social-icons">
                  <li><a class="facebook" data-original-title="facebook" href="#"></a></li>
                  <li><a class="twitter" data-original-title="twitter" href="#"></a></li>
                  <li><a class="googleplus" data-original-title="googleplus" href="#"></a></li>
                  <li><a class="evernote" data-original-title="evernote" href="#"></a></li>
                  <li><a class="tumblr" data-original-title="tumblr" href="#"></a></li>
               </ul>
            </div>

            <div class="product-page-content">
               <ul id="myTab" class="nav nav-tabs">
                  <li class="active">
                     <a href="#Description" data-toggle="tab">Descrição</a>
                  </li>
                  <li>
                     <a href="#Information" data-toggle="tab">Informações</a>
                  </li>
               </ul>

               <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade in active" id="Description">
                     <p><?php echo $this->book[ "description" ] ?></p>
                  </div>
                  <div class="tab-pane fade" id="Information">
                     <table class="datasheet">
                        <tr>
                           <th colspan="2">Informações sobre este livro</th>
                        </tr>
                        <tr>
                           <td class="datasheet-features-type">Número de páginas</td>
                           <td><?php echo $this->book[ "number_page" ] ?> páginas</td>
                        </tr>
                        <tr>
                           <td class="datasheet-features-type">Autor</td>
                           <td></td>
                        </tr>
                        <tr>
                           <td class="datasheet-features-type">Ano</td>
                           <td><?php echo $this->book[ "year" ] ?></td>
                        </tr>
                     </table>
                  </div>
               </div>
            </div>

            <div class="sticker sticker-sale"></div>
         </div>
      </div>
   </div>
</div>

<?php
   echo $this->partial( "partial/related_products.phtml", array( "related" => $this->relatedBooks ) );
?>