ul, li {list-style: none !important; margin: 0; padding: 0;}
body {min-width: 320px !important;}
.only-for-small { display: none !important; }

span.button, .ranking-position {border-radius: 3px; -webkit-border-radius: 3px; text-shadow: 0 1px 1px #787878;}
.op-dropdown {cursor: pointer;}

#header div.categories ul li a:hover, #header .menu-dropdown-content .hot-keywords li a:hover, .link:hover, #footer ul li a:hover {text-decoration: underline;}

/* GAME LIST */

.limiter {width: calc( 100% + 25px );}

.game-list {padding: 0 15px 15px 15px;}
.game-list .big {max-width: 21.125em;}
.game-list .small {max-width: 10em;}

.game-list .rating {margin-top: 10px; height: 10px;}
	.game-list .rating .stars {
		background: url( "../img/stars-normal.png" ) no-repeat;
		float: left;
		height: 10px;
		margin: 0 !important;
		width: 63px;
	}
	.game-list .rating.highlight .stars {background: url( "../img/stars-highlight.png" ) no-repeat;}

.play-big {
	background: rgba(0, 0, 0, 0.7) url( "../img/play-big.png" ) center center no-repeat;
	display: none;
	height: 100%;
	left: 0;
	padding: 0 16px 16px 0 !important;
	position: absolute;
	top: 0;
	width: 100%; 
	z-index: 2;
}

.img-area {
	position: relative;
	-webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
	padding: 15px;
}
	.img-area:hover .play-big {display: inline-block;}

span.highlight {
	background: url( "../img/highlight.png" );
	height: 56px;
	position: absolute;
	right: 0;
	top: 0;
	width: 55px;
}
span.multiplayer {
	background: url( "../img/multiplayer.png" );
	float: right;
	height: 45px;
	width: 52px;
}

.game-box {
	margin: 0 20px 20px 0;
	float: left;
	background: #FFF;
	-webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	overflow: hidden;
}

	.game-box .description {padding: 15px;}
		.game-box .description .name {
			color: #00668A;
			display: block;
			font-size: 15px;
			line-height: 15px;
		}
		.game-box .description .tags {
			color: #868686;
			display: block;
			font-size: 11px;
			line-height: 11px;
		}
		.game-box .description .small {
			color: #A7A7A7;
			float: left;
			margin: 1px 0 0 5px;
		}

/* */

h2 {
	color: #004358;
	float: left;
	font-size: 30px;
	margin: 0 0 20px 0;
	position: relative;
}
	h2 .button {
		background: #79CBC7 url( "../img/ico-plus.png" ) 41px center no-repeat;
		border-bottom: 3px solid #5DB9B4;
		color: #FFF;
		font-size: 15px;
		line-height: 37px;
		margin: 0;
		text-align: left;
		position: absolute;
		left: 340px;
		top: 3px;
		padding: 0 10px;
		width: 61px;
	}
	h2 img {margin-right: 10px;}

	h2 span {color: #1F8A70;}
		h2 span span {color: #859A1D;}

.more-about {
	float: left;
	margin-bottom: 40px;
	max-width: 850px;
}
	.more-about h2, .more-about p {margin-bottom: 0;}
		.more-about h2 a {color: #859B1D;}
	 

.separator-arrow-down {
	background: #79CBC7 url( "../img/ico-arrow-down-separator.png" ) 114px center no-repeat;
	border-bottom: 3px solid #5DB9B4;
	color: #FFF;
	font-size: 15px;
	height: 49px;
	text-align: left;
	padding-left: 15px;
	width: 160px;
}

ul.pagination-alt {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	float: left;
	margin: 0 20px 0 0;
	overflow: hidden;
}
	ul.pagination-alt li {
		float: left;
		font-size: 17px;
		margin: 0;
	}
		ul.pagination-alt li span {
			background: #79CBC7;
			border-bottom: 3px solid #5DB9B4;
			color: #FFF;
			float: left;
			text-align: center;
			padding: 9.5px 16px;
		}
		ul.pagination-alt li span:hover, ul.pagination-alt li span.active {
			background-color: #5DB9B4;
			border-bottom: 3px solid #44A39D;
		}

.filter, .pagination {float: right;}
.filter {margin-right: 23px;}
	.filter form {
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-webkit-box-shadow: 0 2px 1px 1px rgba(0,0,0,0.2);
		box-shadow: 0 2px 1px 1px rgba(0,0,0,0.2);
		float: left;
		height: 40px;
		margin: 3px 0 0 0;
	}
		.filter form input {
			background-color: #F3F3F3;
			border: 0;
			color: #A7A7A7;
			float: left;
			font-size: 15px;
			height: 40px;
			margin: 0;
			width: 80px;
		}
		.filter form input[ type="text" ] {
			border-radius: 3px 0 0 3px;
			-webkit-border-radius: 3px 0 0 3px ;
		}
		.filter form .button {
			background: #79CBC7 url( "../img/ico-arrow-down.png" ) center center no-repeat;
			border-radius: 0 3px 3px 0;
			-webkit-border-radius: 0 3px 3px 0;
			padding: 0;
			width: 40px;
		}


	.pagination .number-of-pages {
		color: #878787;
		float: left;
		font-size: 15px;
		margin: 15px 45px 0 0;
	}
	.pagination .button {
		border-bottom: 3px solid #5DB9B4;
		height: 40px;
		margin: 3px 0 0 0 !important;
		padding: 0;
		width: 40px;
	}
		.pagination .button.left {
			background: #79CBC7 url( "../img/ico-arrow-left.png" ) center 12px no-repeat;
			border-right: 1px solid #67ADA9;
			border-radius: 3px 0 0 3px;
			-webkit-border-radius: 3px 0 0 3px;
		}
		.pagination .button.right {
			background: #79CBC7 url( "../img/ico-arrow-right.png" ) center 12px no-repeat;
			border-left: 1px solid #9BD8D5;
			border-radius: 0 3px 3px 0;
			-webkit-border-radius: 0 3px 3px 0;
		}

/*
	HEADER SCROLL
*/
	body.header-scroll {padding-top: 150px !important;}

	div.header-scroll {background: url( "../img/background-dropdown.png" ) repeat !important; border: 0 !important; border-top: 5px solid #1F8A70 !important; height: 52px !important; position: fixed; top: 0; z-index: 99;}
		div.header-scroll div.categories, .header-scroll span.menu-button,
		div.header-scroll div.social {display: none !important;}

		div.header-scroll span.logo {background: url( "../img/logo-scroll.png" ) no-repeat !important; height: 22px !important; margin: 13px 0 0 0 !important; width: 120px !important;}

		div.header-scroll form input[ type="text" ] {font-size: 20px !important; height: 47px !important; padding-right: 75px !important;}
		div.header-scroll form input[ type="submit" ] {margin-right: 35px; top: 5px !important;}
		div.header-scroll span.search-button {margin-top: 7px !important;} 
		div.header-scroll span.button.facebook {margin-top: 2px !important;}

		div.header-scroll div.header {background: rgba( 0, 0, 0, 0.3); height: 47px;}

		div.header-scroll div.user {margin-top: 7px !important;}
			div.header-scroll div.user img {float: left; width: 33px;}
			div.header-scroll div.user div.user-info {font-size: 15px !important; margin: 10px 0 0 0 !important; max-width: auto !important;}
			div.header-scroll div.user span.name {float: left; margin-right: 10px;}
			div.header-scroll div.user div.stats {float: left !important; display: inline !important; width: auto !important;}

			div.header-scroll div.user span.name .ranking-position {display: none !important;}
			#header .user.active .ranking-position {display: block !important;}

			div.header-scroll div.user span.user-dropdown {background: url( "../img/ico-show-options-scroll.png" ) no-repeat !important; height: 21px !important; margin: 7px 10px 0 0 !important; width: 40px !important;}

		.menu-scroll {-webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.3); box-shadow: 0 3px 10px 0 rgba(0,0,0,0.3); display: none; position: fixed; top: 52px;margin-left: -133px; z-index: 9; width: 89px;}
			.menu-scroll ul li span.item {background: url( "../img/menu-scroll.jpg" ) no-repeat; color: #FFF; float: left; font-size: 11px; line-height: 52px; width: 89px;}
			.menu-scroll ul li span.item.active {-webkit-box-shadow:inset 1px 1px 10px 5px rgba(0,0,0,0.3); box-shadow:inset 1px 1px 10px 5px rgba(0,0,0,0.3);}
			.menu-scroll ul li span.item.home {background-position: -0px -0px;}
			.menu-scroll ul li span.item.tags {background-position: -0px -52px;}
			.menu-scroll ul li span.item.games {background-position: -0px -104px;}
			.menu-scroll ul li span.item.perfil {background-position: -0px -156px;}
			.menu-scroll ul li span.item.config {background-position: -0px -208px;}
				.menu-scroll ul li span.item span.ico {background: url( "../img/ico-menu-scroll.png" ) no-repeat; float: left;}
					.menu-scroll ul li span.item.home span.ico {background-position: -0px -0px; height: 17px; margin: 17px 7px 0 12px; width: 19px;}
					.menu-scroll ul li span.item.tags span.ico {background-position: -19px -0px; height: 15px; margin: 20px 7px 0 12px; width: 19px;}
					.menu-scroll ul li span.item.games span.ico {background-position: -0px -19px; height: 19px; margin: 16px 7px 0 12px; width: 18px;}
					.menu-scroll ul li span.item.perfil span.ico {background-position: -18px -19px; height: 19px; margin: 16px 7px 0 10px; width: 20px;}
					.menu-scroll ul li span.item.config span.ico {background-position: -38px -17px; height: 21px; margin: 17px 7px 0 12px; width: 21px;}

/*
	HEADER
*/

#header {
	background: url( "../img/background-header.jpg" ) repeat;
	border-bottom: 5px solid #F0D418;
	border-top: 5px solid #1F8A70;
	float: left;
	width: 100%;
}
	#header div.categories {
		background: rgba(0, 0, 0, 0.5);
		float: left;
		width: 100%;
	}
		#header div.categories ul li { 
			float: left;
			font-family: "Raleway", sans-serif;
			font-size: 10px;
			font-weight: 600;
			line-height: 40px;
			margin-right: 15px;
			padding: 0;
			text-align: center;
		}
			#header div.categories ul li a, #footer div.categories ul li a {
				color: #FDF232;			
			}
			#header div.categories ul li.logout {
				float: right;
				margin-right: 0 !important;
			}
				#header div.categories ul li.logout a {
					color: #fff;
					text-decoration: underline;
				}

	#header .menu-button {
		background: rgba(0, 0, 0, 0.35);
		float: left;
		height: 100px;
		width: 100px;
	}
		#header .menu-button .ico {
			background: url( "../img/ico-menu.png" ) -0px -0px no-repeat;
			display: block;
			height: 39px;
			margin: 33px auto 0 auto;
			width: 40px;
		}
			#header .menu-button .ico.active {
				background-position: -40px -0px;
			}

	#header .menu-dropdown-content {
		background: url( "../img/background-dropdown.png" ) repeat;
		border-bottom: 5px solid #F0D418;
		-webkit-box-shadow:inset 0 3px 5px 0 rgba(0,0,0,0.2);
		box-shadow:inset 0 3px 5px 0 rgba(0,0,0,0.2);
		display: none;
		position: absolute;
		width: 100%;
		z-index: 3;
	}

		.header-scroll .menu-dropdown-content {
			-webkit-box-shadow: none !important;
			box-shadow: none !important;
		}

		#header .menu-dropdown-content ul.categories {			
			margin: 40px 0 30px 0;
		}
			#header .menu-dropdown-content ul.categories li {
				margin: 0 0 10px 0;
				padding: 0 !important;
			}
				#header .menu-dropdown-content ul.categories li img {
					float: left;
					margin-right: 10px;
				}
				#header .menu-dropdown-content ul.categories li:hover .tag {text-decoration: underline;}
				#header .menu-dropdown-content ul.categories li .tag {
					color: #C5DA33;
					display: inline-block;
					font-size: 18px;
					font-weight: normal !important;
					line-height: 18px;
					margin: 4px 0 0 0;
				}
				#header .menu-dropdown-content ul.categories li .number-of-games {
					color: #FFF;
					display: block;
					font-size: 10px;
					line-height: 10px;
				}

		#header .menu-dropdown-content .hot-keywords {margin-bottom: 40px;}
			#header .menu-dropdown-content .hot-keywords h3 {
				color: #FFF;
				font-size: 30px;
				font-weight: normal !important;
			}
				#header .menu-dropdown-content .hot-keywords li {
					float: left;
					font-size: 19px;
					margin: 0 20px 0 0;
					padding: 0;
				}
					#header .menu-dropdown-content .hot-keywords li a {
						color: #A2BF30;
					}


	#header .logo {
		background: url( "../img/logo-jogos-brasil.png" ) no-repeat;
		float: left;
		height: 39px;
		margin: 30px 0 0 20px;
		width: 216px;
	}
	#header .search-button, .small-align .search-button {
		background: url( "../img/ico-search.png" ) no-repeat;
		float: right;
		height: 32px;
		margin: 33px 4px 0 0;
		width: 32px;
	}
	#header .button.facebook, .small-align .button {
		background: #0054A6 url( "../img/ico-button-facebook.png" ) 15px center no-repeat;
		border-bottom: 3px solid #003A72;
		float: right;
		font-size: 15px;
		height: 41px;
		margin: 28px 142px 0 0;
		padding: 12px 0 0 35px;
		width: 133px;
	}
		#header .button.facebook:hover {background-color: #0054A6 !important;}

	#header .social {
		float: right;
		font-size: 10px;
		margin: 25px 65px 0 0;
		text-align: center;
	}
		#header .social div {
			color: #ECE532;
			float: left;
			margin-left: 20px;
			min-width: 32px;
			padding-top: 37px;
		}

		.hide {display: none !important;}

		#header .social .facebook {background: url( "../img/ico-facebook.png" ) center top no-repeat;}
		#header .social .googleplus {background: url( "../img/ico-googleplus.png" ) center top no-repeat;}
		#header .social .twitter {background: url( "../img/ico-twitter.png" ) center top no-repeat;}

		#header form {border: 0; display: none; right: 0; position: absolute; z-index: 6; width: 65%; width: calc(100% - 400px);}
			#header form input[ type="text" ] {background: rgba( 0, 0, 0, 0.4) url( "../img/ico-search.png" ) 15px center no-repeat; border: 0; color: #FFF; font-size: 30px; padding: 0 45px 0 70px; height: 100px;}
			#header form input[ type="submit" ] {background: transparent url( "../img/ico-arrow-right.png" ) center center no-repeat; height: 19px; width: 14px; position: absolute; z-index: 7; top: 34px; right: 0; padding: 20px !important;}
				#header form input[ type="submit" ]:hover {background-color: transparent !important;}
				#header form .close-search {color: #FDF232; font-size: 10px; display: inline-block; position: absolute; top: 7px; right: 7px; padding: 5px 10px;}

		#header .user {
			float: right;
			margin: 17px 120px 0 0;
			position: relative;
			min-width: 346px;
		}
			#header .user img {
				float: left;
				margin-right: 12px;
				position: relative;
				z-index: 5;
			}
				#header .user.active img {width: 66px !important;}

			#header .user .user-info {
				float: left;
				margin: 18px 0 0 0;
				position: relative;
				z-index: 5;
			}
				#header .user.active .user-info {margin: 18px 0 0 0 !important; max-width: 230px;}

				#header .user .user-info .name {
					float: left;
					position: relative;
					color: #FFF;
				}
					#header .user.active .user-info .name {font-size: 16px !important;}

				#header .user .user-info .stats {display: inline-block;width: 100%;}
					#header .user .user-info .stats span, #header .user .dropdown .challenges .stats span, .ranking .user-info span, .hall-of-fame .user-info, .perfil .user-info span  {
						font-size: 11px;
						margin-right: 10px;
					}
						#header .user .user-info .stats span.level, .ranking .user-info span.level, .hall-of-fame .user-info span.level, .perfil .user-info span.level {
							background: url( "../img/ico-level.png" ) center left no-repeat;
							padding-left: 10px;
						}
						#header .user .user-info .stats span.level, #header .user .user-info .stats span.xp, .ranking .user-info span.level, .ranking .user-info span.idxp, .hall-of-fame .user-info span.level, .hall-of-fame .user-info span.idxp, .perfil .user-info span.level, .perfil .user-info span.idxp {color: #B9BE12;}
						#header .user .user-info .stats span.energy, #header .user .dropdown .challenges .stats span.energy, .perfil .user-info span.energy {
							background: url( "../img/ico-energy.png" ) center left no-repeat;
							color: #79CBC6;
							padding-left: 13px;
						}
						#header .user .user-info .stats span.coins, #header .user .dropdown .challenges .stats span.coins, .perfil .user-info span.coins {
							background: url( "../img/ico-coin.png" ) center left no-repeat;
							color: #F0D318;
							padding-left: 10px;
						}

			#header .user .user-dropdown {
				background: url( "../img/ico-show-options.png" ) -0px -0px no-repeat;
				float: right;
				height: 39px;
				margin: 15px 10px 0 0;
				position: relative;
				width: 21px;
				z-index: 5;
			}
				#header .user.active .user-dropdown {background: url( "../img/ico-show-options.png" ) -0px -0px no-repeat !important; height: 39px !important; margin: 15px 10px 0 0 !important; width: 21px !important;}
				#header .user .user-dropdown.active {
					background-position: -21px 0 !important;
				}

			#header .user .dropdown {
				background: url( "../img/background-dropdown.png" ) repeat;
				-webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
				box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
				border-radius: 40px 3px 3px 3px;
				-webkit-border-radius: 40px 3px 3px 3px;
				display: none;
				padding-top: 80px;
				position: absolute;
				width: 105%;
				max-width: 346px;
				z-index: 4;
			}
				#header .user .ranking-position {
					background: #89D1CE;
					border-bottom: 3px solid #6EC1BD;
					color: #00384A;
					display: inline-block;
					font-size: 11px;
					line-height: 100%;
					top: -3px;
					right: -42px;
					padding: 3px 5px;
					position: absolute;
				}

				#header .user .dropdown .nav {
					border-top: 5px solid #E3C918;
					padding: 14px 0 0 8px;
				}
					#header .user .dropdown .nav .button {
						background: #1F8A70;
						border-bottom: 3px solid #186955;
						margin: 0 3px;
						font-size: 12px;
						padding: 8px 6px;
					}
					#header .user .dropdown .nav .button.active {
						background: #00384A;
						border: 0;
						color: #001F2B;
						text-shadow: none;
					}
					#header .user .dropdown .nav .button:hover,
					#header .user .dropdown .challenges .button:hover {background: #1B7660 !important;}

					#header .user .dropdown .nav .button.active:hover {background: #00384A !important; cursor: default;}

				#header .user .dropdown .challenges {
					background: rgba(0, 0, 0, 0.3);
					margin-top: 14px;
				}
					#header .user .dropdown .challenges .title {
						display: block;
						margin-bottom: 15px;
					}
					#header .user .dropdown .challenges .challenge {
						float: left;
						margin-bottom: 10px;
						width: 100%;
					}
					#header .user .dropdown .challenges .challenge .button {
						background: #1F8A70;
						border-bottom: 3px solid #186955;
						float: left;
						font-size: 12px;
						margin: 3px 8px 0 0 !important;
						line-height: 25px;
						padding: 0 !important;
						width: 66px;
					}
					#header .user .dropdown .challenges .challenge .challenge-title {
						display: block;
						color: #FFF;
						font-size: 15px;
						line-height: 15px;
					}
					#header .user .dropdown .challenges .stats {
						float: left;
						margin: 0 !important;
						padding: 0 !important;
					}
					#header .user .dropdown .challenges .progressbar, .perfil .progressbar {
						float: left;
						margin-top: 6px;
					}
						#header .user .dropdown .challenges .bar, .perfil .progressbar .bar {
							background: rgba(0, 0, 0, 0.3);
							float: left;
							height: 9px;
							padding: 1px;
							width: 180px;
						}
							#header .user .dropdown .challenges .bar .content, .perfil .progressbar .bar .content {
								background: url( "../img/bar.jpg" ) repeat-x;
								float: left;
								height: 7px;
							}
						#header .user .dropdown .challenges .progressbar span.bar-value, .perfil .progressbar span.bar-value {
							color: #79CBC6;
							float: left;
							font-size: 10px;
							margin-left: 10px;
						}

					#header .user .dropdown .challenges .pagination-dropdown {
						display: table;
						margin: 10px auto 0 auto;
						padding: 0 !important;
					}
						#header .user .dropdown .challenges .pagination-dropdown li, div.trophies .pagination li, div.perfil div.background ul.pagination li {
							float: left;
							margin: 0 5px 0 5px !important;
							padding: 0 !important;
						}
							#header .user .dropdown .challenges .pagination-dropdown li .item-pagination, div.trophies .pagination li .item-pagination, div.perfil div.background ul.pagination li .item-pagination {
								background: url( "../img/pagination-user-dropdown.png" ) no-repeat;
								float: left;
								height: 13px;
								width: 12px;
							}
							#header .user .dropdown .challenges .pagination-dropdown li .item-pagination.active, div.trophies .pagination li .item-pagination.active, div.perfil div.background ul.pagination li .item-pagination.active {
								background-position: -12px -0px;
								width: 13px !important;
							}

				#header .user .dropdown .challenges,
				#header .user .dropdown .statistics {
					float: left;
					padding: 14px;
				}

				#header .user .dropdown .challenges .title,
				#header .user .dropdown .statistics .title {
					color: #D3C11F;
					font-size: 15px;
				}

				#header .user .dropdown .statistics .since {
					color: #001F2B;
					float: right;
					font-size: 11px;
					margin-top: 3px;
				}
					#header .user .dropdown .statistics .since em {
						color: #F2F6F4;
						font-style: normal;
					}

				#header .user .dropdown .statistics div {
					float: left;
					margin-top: 10px;
					width: 33.33% !important;
				}
				#header .user .dropdown .statistics div .sub-title {
					color: #79CBC5;
					display: block !important;
					font-size: 11px;
					padding: 0 !important;
				}
				#header .user .dropdown .statistics div .value {
					color: #FFF;
					float: left;
					font-size: 17px;
					margin-top: 5px;
				}

	/*
		RANKING & HALL DA FAMA
	*/
	.ranking {
		background: url( "../img/background-ranking.png" ) repeat;
		float: left;
		width: calc( 100% - 15px );
	}

		.border {background: url( "../img/borda-ranking-hall.png" ) repeat-x; float: left; height: 19px; width: 100%;}

		.ranking h3, .hall-of-fame h3 {
			color: #FFF;
			float: left;
			font-size: 15px;
			margin: 10px 25px;
		}

		.ranking .top {margin: 25px 25px 0 25px;}
			.ranking .top li {float: left; margin-bottom: 20px; padding: 0;}
			.ranking .medal {margin: 6px 15px 0 0;}
			.ranking img{float: left;}
			.ranking .user-info {
				float: left;
				margin: 10px 0 0 10px !important;
			}
			.ranking .user-info span.name {
				color: #F2F2F2;
				font-size: 15px;
			}
			.stats, .user-info {line-height: 100% !important;}
				.ranking .user-info .stats span {float: left;}


		.ranking .highlight {background: url( "../img/background-header.jpg" ) repeat;}
		.ranking .highlight, .hall-of-fame .highlight {
			display: inline-block;
			padding: 25px;
			width: 100%;
		}
		.ranking .highlight .medal {margin: 6px 15px 0 0;}
		.ranking .highlight img, .hall-of-fame img {float: left;}
		.ranking .highlight .user-info, .hall-of-fame .user-info {
			float: left;
			margin: 10px 0 0 10px !important;
		}
		.ranking .highlight .user-info span.name, .hall-of-fame .user-info span.name, .perfil .user-info span.name {
			color: #F2F2F2;
			font-size: 30px;
			line-height: 30px;
		}

	.ranking .medal {
		background: url( "../img/medals.png" ) no-repeat;
		color: #FFF;
		float: left;
		font-size: 22px;
		line-height: 52px;
		text-align: center;
		width: 66px;
	}
		.ranking .medal.gold {background-position: -0px -0px;}
		.ranking .medal.silver {background-position: -0px -52px;}
		.ranking .medal.bronze {background-position: -0px -104px;}
		.ranking .medal.none {background-color: #89D1CE; background-image: none; border-bottom: 3px solid #6EC1BD; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px;}

	.ranking .pagination {float: left; margin-top: 45px;}

	.ranking .top-10-50 {background: rgba( 0, 0, 0, 0.4 ); float: left; padding: 25px; width: 100%;}
		.ranking .top-10-50 h2 {color: #FFF; float: left; width: 100%;}
		.ranking .top-10-50 ul {margin: 0;}
			.ranking .top-10-50 ul li {margin-bottom: 25px; padding: 0;}
				.ranking .top-10-50 ul li img {width: 33px;}
				.ranking .top-10-50 ul li .position {color: #FFF; float: left; font-size: 22px; margin-right: 10px;}
				.ranking .top-10-50 ul li .user-info {margin: 0 0 0 10px !important; line-height: 100% !important;}

	.hall-of-fame {
		background: url( "../img/background-hall-of-fame.png" ) repeat;
		float: left;
		width: 100%;
	}
		.hall-of-fame .highlight {background: url( "../img/background-hall-of-fame-highlight.png" ) repeat;}
		.hall-of-fame .user-info {max-width: calc( 100% - 76px );}
			.hall-of-fame .name {display: inline-block; line-height: 30px; margin: 0 0 3px 0;}

		.hall-of-fame ul {margin: 25px; padding: 0;}
		.hall-of-fame ul li {float: left; margin: 0 0 20px 0; padding: 0;}

		.hall-of-fame .pagination {float: left; margin: 19px 25px 25px 25px;}

	/* 
		BLOCO PERFIl
	*/
	div.perfil {
		background: url( "../img/background-ranking.png" ) repeat;
		border-radius: 40px 0 0 0;
		-webkit-border-radius: 40px 0 0 0;
		color: #FFF;
		float: left;
		position: relative;
		max-width: 653px;
		width: 100%;
	}
		div.perfil .ranking-position {
			background: #89D1CE;
			border-bottom: 3px solid #6EC1BD;
			color: #00384A;
			display: inline-block;
			font-size: 11px;
			line-height: 100%;
			margin: 5px 0 0 5px;
			padding: 5px;
			position: absolute;
		}
		div.perfil .page-title {
			color: #FFDF19;
			float: right;
			font-size: 30px;
			margin: 40px 30px 0 0;
		}

		div.perfil .options {
			float: left;
			margin-top: 10px;
			width: 143px;
		}
			div.perfil .options .option {
				float: left;
				height: 55px;
				margin-left: -3px;
				padding: 0 40px 0 20px;
				width: 167px;
			}
			div.perfil .options .option:hover {
				background: url( "../img/option-select.png" ) no-repeat;
			}

				div.perfil .options .option .option-title {
					color: #79CBC6;
					display: block;
					font-size: 13px;
					margin: 10px 0 3px 0;
				}
				div.perfil .options .option .option-title.special {color: #BEDB39;}

				div.perfil .options .option .pagination-value {
					color: #FFF;
					float: left;
					font-size: 12px;
					margin: 5px 15px 0 0;
				}

				div.perfil .options .option .pagination-option {float: right;}
					div.perfil .options .option .pagination-option .button {float: right; height: 20px !important; margin: 0; padding: 0; width: 22px !important;}
					div.perfil .options .option .pagination-option .button.left {
						background: #89D1CE url( "../img/arrow-min-left.png" ) 7px center no-repeat;
						margin-right: 5px;
					}
					div.perfil .options .option .pagination-option .button.right {background: #89D1CE url( "../img/arrow-min-right.png" ) 9px center no-repeat;}

		div.perfil .container-avatar {
			float: right;
			margin: 20px 44px 0 0;
			width: 436px;
		}

		div.perfil .save-option {background: url( "../img/background-header.jpg" ) repeat; float: left; padding: 20px 0; width: 100%;}
			div.perfil .save-option .cancel {color: #FFF; float: left; font-size: 11px; margin: 20px 0 0 17px;}
			div.perfil .save-option .button {background: #BEDB39 url( "../img/ico-arrow.png" ) 132px center no-repeat; border-bottom: 3px solid #869C1D; font-size: 15px; height: 52px; margin: 0 20px 0 0; padding-left: 0px; width: 178px;}

		div.perfil .background {float: left; margin: 20px 0; width: 100%;}
			div.perfil .background-title {color: #79CBC6; font-size: 15px; margin-left: 17px;}
			div.perfil .background .container-background {float: right; margin: 3px 44px 0 0; width: 436px;}

		div.perfil img {
			float: left;
			margin-right: 10px;
		}
		div.perfil .user-info {
			float: left;
			margin: 15px 0 0 0;
		}
		div.perfil .user-info .stats {margin-top: 5px;}
		div.perfil .user-info .name {display: block;}
		div.perfil .user-info .since {
			color: #001F2B;
			display: block;
		}
			div.perfil .user-info .since em {
				color: #FFF;
				font-style: normal;
			}

		div.perfil .button {
			float: right;
			width: 237px;
		}
			div.perfil .button.bt-add-friend {
				background: #BEDB39 url( "../img/ico-arrow.png" ) 194px center no-repeat;
				border-bottom: 3px solid #869C1D;
				height: 52px;
				margin: 25px 45px 0 0;
				padding-left: 0;
			}

		div.perfil .level-info {
			border-top: 5px solid #E3C918;
			clear: both;
			display: inline-block;
			margin-top: 20px;
			width: 100%;
		}
			div.perfil .level-info .info {
				display: inline-block;
				margin: 20px 15px;
				
				width: 304px;
			}
				div.perfil .level-info .info .level {
					color: #79CBC7;
					display: block;
					font-size: 15px;
					margin-top: 10px;
				}
					div.perfil .level-info .info .level em {
						color: #DFDFDF;
						font-size: 11px;
						font-style: normal;
						font-weight: 500;
						text-transform: uppercase;
					}
				div.perfil .level-info .info .sub-level {
					color: #79CBC6;
					font-size: 11px;
				}

				div.perfil .level-info .info .progressbar {
					margin: 20px 0 30px 0;
					width: 100%;
				}
					div.perfil .level-info .info .progressbar .next-level {
						color: #DFDFDF;
						display: block;
						font-size: 11px;
						margin-bottom: 5px;
					}
						div.perfil .level-info .info .progressbar .next-level em {
							font-style: normal;
							text-transform: uppercase;
						}
					div.perfil .level-info .info .progressbar .bar {width: 260px;}
					div.perfil .level-info .info .progressbar .bar-value {color: #FFF;}

				div.perfil .level-info .info ul {
					float: left;
					margin: 0;
					width: 100%;
				}
					div.perfil .level-info .info ul li {
						margin: 0 0 10px 0;
						padding: 0;
					}
						div.perfil .level-info .info ul li .title-item {
							color: #FFE11A;
							display: block;
							font-size: 15px;
							line-height: 100%;
							margin-bottom: 5px;
						}
						div.perfil .level-info .info ul li .exp-item {
							color: #DFDFDF;
							float: left;
							font-size: 11px;
							line-height: 100%;
						}

		div.perfil div.trophies {
			background: rgba( 0, 0, 0, 0.2 );
			float: right;
			min-height: 325px;
			padding: 15px;
			width: 315px;
		}
			div.perfil div.trophies ul.trophies {
				margin: 10px 0 0 0;
				padding: 0;
			}
			div.perfil div.trophies ul.trophies li {
				margin: 0 0 40px 0;
				padding: 0;
			}
				div.perfil div.trophies ul.trophies li img {
					display: block;
					float: none;
					margin: 0 auto;
				}
				div.perfil div.trophies ul.trophies li span {
					color: #E3D55B;
					display: block;
					line-height: 100%;
					margin: 5px auto 0 auto;
					text-align: center;
					width: 80px;
				}

				div.perfil div.trophies ul.pagination, div.perfil div.background ul.pagination {display: table; float: none; height: auto !important; margin: 0 auto;}
					div.perfil div.trophies ul.pagination li, div.perfil div.background ul.pagination li {height: auto !important; margin: 0 !important; padding: 0 !important; width: auto !important;}
						div.perfil div.trophies ul.pagination li a, div.perfil div.background ul.pagination li a {background: none; margin: 0 5px; padding: 0;}

		div.perfil .bt-send-message {
			background: #79CBC7 url( "../img/ico-arrow.png" ) 194px center no-repeat;;
			border-bottom: 3px solid #5DB9B4;
			height: 52px;
			padding-left: 0;
			margin: 0 30px 0 0;
		}

		div.perfil .statistics {
			background: url( "../img/background-header.jpg" ) repeat;
			clear: both;
			display: inline-block;
			padding: 15px;
			width: 100%;
		}
			div.perfil .statistics div {
				float: left;
				margin-right: 20px;
			}
			div.perfil .statistics .title {
				color: #D3C11F;
				display: block;
				font-size: 15px;
				margin-bottom: 10px;
			}
			div.perfil .statistics .sub-title {
				color: #79CBC5;
				display: block;
				font-size: 11px;
				margin-bottom: 2px;
			}

			div.perfil .friends {
				background: url( "../img/background-hall-of-fame.png" ) repeat;
				float: left;
				width: 100%;
			}
				div.perfil .friends span.title {
					display: inline-block;
					font-size: 15px;
					margin: 25px 0 0 15px;
				}
				div.perfil .friends ul {margin: 15px;}
					div.perfil .friends ul li {
						margin: 10px 0;
						padding: 0;
					}
						div.perfil .friends ul li img {width: 38px;}
						div.perfil .friends ul li .name {
							font-size: 15px;
							line-height: 100%;
						}
						div.perfil .friends ul li .user-info {margin: 5px 0 0 0;}

		div.timeline {
			background: url( "../img/background-ranking.png" ) repeat;
			border-top: 20px solid #FFE11A;
			float: left;
			margin-left: 30px;
			padding-bottom: 15px;
			width: 345px;
		}
			div.timeline .title {
				color: #FFF;
				display: block;
				font-size: 15px;
				margin: 15px 20px;
			}
			div.timeline div.timeline-item {
				background: url( "../img/timeline-sel.png" ) left 10px no-repeat;
				float: right;
				margin: 0 15px 25px 0;
				padding: 0 0 0 15px;
				position: relative;
				width: 290px;
			}
			/*div.timeline div.timeline-item.locked {opacity: 0.5;}*/
				div.timeline div.timeline-item img.img-level {
					float: left;
					margin-bottom: 15px;
					width: 25px;
				}
				div.timeline div.timeline-item .level {
					color: #79CBC6;
					float: left;
					font-size: 15px;
					margin: 5px 0 5px 5px;
				}
				div.timeline div.timeline-item .nec-xp {
					color: #B8BE12;
					float: left;
					font-size: 11px;
					margin: 8px 0 5px 15px;
				}
				div.timeline div.timeline-item ul {
					float: left;
					margin-top: 10px;
					width: 100%;
				}
					div.timeline div.timeline-item ul li {
						float: left;
						margin-right: 10px;
					}
				div.timeline div.timeline-item p {
					color: #79CBC6;
					float: left;
					font-size: 11px;
					margin: 0;
					width: 100%;
				}
				div.timeline div.timeline-item p:nth-child(odd) {
					color: #FFF;
				}

				div.timeline .timeline-container {float: left; overflow: hidden;}

				div.timeline div.timeline-progressbar {
					background: rgba( 0, 0, 0, 0.5 );
					float: left;
					margin-left: 33px;
					padding-bottom: 30px;
					width: 7px;
				}
				div.timeline div.timeline-progressbar .bar {
					background: url( "../img/progressbar-v.png" ) repeat-y;
					float: left;
					height: 130px;
					position: relative;
					width: 7px;
				}
				div.timeline div.timeline-progressbar .arrow {
					background: url( "../img/arrow.png" ) no-repeat;
					left: -6px;
					bottom: -10px;
					float: left;
					height: 10px;
					position: absolute;
					width: 20px;
				}

		div.locked div.locked-adv {
			background: url( "../img/locked.png" ) no-repeat;
			bottom: 0;
			height: 22px;
		 	right: 0;
			position: absolute;
			opacity: 1 !important;
			width: 56px;
		}

		.locked * {opacity: 0.5;}

	/*
		PLAY
	*/
	.separator-big {
		background: url( "../img/separator-game.png" ) center center no-repeat;
		float: left;
		height: 27px;
		margin: 30px auto 10px auto;
		width: 100%;
	}

	.play-game {margin-top: 20px;}

	.ads-area {float: right;}

	.game-area {float: left; width: calc( 100% - 170px ); width: 85%;}
		.game-area span.title {
			color: #004358;
			float: left;
			font-size: 30px;
			line-height: 120%;
			margin-top: 1px;
			width: calc( 100% - 180px );
		}
		.game-area span.bt-random {
			background: #5DB9B4 url( "../img/ico-random.png" ) 12px center no-repeat;
			border-bottom: 3px solid #44A39D;
			float: right;
			font-size: 15px;
			line-height: 36px;
			margin: 0;
			padding: 0 0 0 40px;
			width: 170px;
		}

		.game-area div.game {float: left; margin-top: 10px; min-height: 600px; width: 100%;}
			.game-area div.game div.aside {float: left; min-height: 600px; width: 146px;}
				.game-area div.game div.aside span.button.bt-vote {background: #5DB9B4; border-bottom: 3px solid #44A39D; height: 49px; margin-bottom: 10px; padding: 0; width: 146px;}
					.game-area div.game div.aside span.button.bt-vote span.average {background: #89D1CE url( "../img/bt-separator-blue.png" ) right center no-repeat; float: left; font-size: 28px; line-height: 46px; padding: 0 9px;}
					.game-area div.game div.aside span.button.bt-vote span.stars {float: left; margin-top: 13px; padding-left: 10px; width: 76px;}
						.game-area div.game div.aside span.button.bt-vote span.stars span.star {background: url( "../img/stars-game.png" ) no-repeat; float: left; height: 10px; width: 11px;}
							.game-area div.game div.aside span.button.bt-vote span.stars span.star.empty {background-position: -11px -0px;}
					.game-area div.game div.aside span.button.bt-vote span.votes {float: left; font-size: 11px; margin-top: 1px; text-align: left; padding-left: 10px; width: 76px;}
				.game-area div.game div.aside span.button.bt-favorite {
					background: #BEDB39 url( "../img/ico-favorite.png" ) 17px center no-repeat;
					border-bottom: 3px solid #869C1D;
					font-size: 15px;
					line-height: 49px;
					padding: 0 0 0 55px;
					width: 146px;
				}

			.game-area div.game div.container-game {margin: 0 !important; padding: 0 !important; float: right; width: calc( 100% - 156px ); width: 80%;}
				.game-area div.game div.container-game embed,
				.game-area div.game div.container-game iframe,
				.game-area div.game div.container-game object {-webkit-box-shadow: 0 0 15px 2px rgba(0,0,0,0.3); box-shadow: 0 0 15px 2px rgba(0,0,0,0.3); border: 0; min-height: 495px; min-width: 100%}

				.game-area div.game div.container-game div.options {float: left; width: 100%;}
					.game-area div.game div.container-game div.options div.bar {float: left; margin: 14px 0; width: 100%;}
						.game-area div.game div.container-game div.options div.bar div.social,
						.game-area div.game div.container-game div.options div.bar div.seals {float: left;}
							.game-area div.game div.container-game div.options div.bar div.social span.facebook {
								background: #0054A6 url( "../img/ico-facebook-btn.png" ) center 10px no-repeat;
								border-bottom: 3px solid #003A72;
							}
								.game-area div.game div.container-game div.options div.bar div.social span.facebook:hover {background-color: #004284 !important;}
							.game-area div.game div.container-game div.options div.bar div.social span.twitter {
								background: #00ADEF url( "../img/ico-twitter-btn.png" ) center 10px no-repeat;
								border-bottom: 3px solid #0081B1;
							}
								.game-area div.game div.container-game div.options div.bar div.social span.twitter:hover {background-color: #0094CC !important;}
							.game-area div.game div.container-game div.options div.bar div.social span.googleplus {
								background: #C42700 url( "../img/ico-googleplus-btn.png" ) center 10px no-repeat;
								border-bottom: 3px solid #9D1F00;
							}
								.game-area div.game div.container-game div.options div.bar div.social span.googleplus:hover {background-color: #AA2200 !important;}

						.game-area div.game div.container-game div.options div.bar div.seals img {margin: 10px 0 0 15px;}

						.game-area div.game div.container-game div.options div.bar div.game-options {float: right;}
							.game-area div.game div.container-game div.options div.bar div.game-options span.button {background-color: #BEDB39; background-repeat: no-repeat; border-bottom: 3px solid #869C1D;}
								.game-area div.game div.container-game div.options div.bar div.game-options span.button.cinema-mode {
									background-image: url( "../img/ico-cinema-mode.png" );
									background-position: center top 10px;
									background-position-x: center;
									background-position-y: 10px;
								}
								.game-area div.game div.container-game div.options div.bar div.game-options span.button.zoom-out {
									background-image: url( "../img/ico-zoom-out.png" );
									background-position: center top 7px;
									background-position-x: center;
									background-position-y: 7px;
								}
								.game-area div.game div.container-game div.options div.bar div.game-options span.button.zoom-in {
									background-image: url( "../img/ico-zoom-in.png" );
									background-position: center top 7px;
									background-position-x: center;
									background-position-y: 7px;
								}
								.game-area div.game div.container-game div.options div.bar div.game-options span.button.fullscreen {
									background-image: url( "../img/ico-fullscreen.png" );
									background-position: center top 10px;
									background-position-x: center;
									background-position-y: 10px;
								}

						.game-area div.game div.container-game div.options span.button {margin-bottom: 0 !important; padding: 0; height: 40px; width: 50px;}
				.game-area div.game div.container-game p {color: #858585; display: inline-block; font-size: 13px; line-height: 166%; margin-bottom: 0;}


	/*
		WELCOME
	*/
	.welcome h2 {margin-bottom: 0;}
	.welcome p {
		font-size: 13px;
		line-height: 21px;
		max-width: 740px;
	}

	/*
		multiplayer-area-list
	*/

	.multiplayer-area-list {margin-top: 90px;}
		.multiplayer-area-list span.category {
			display: block;
			font-size: 30px;
			font-weight: 900 !important;
			margin: 10px 0;
		}
			.multiplayer-area-list .green span.category {color: #869C1D;}
			.multiplayer-area-list .blue span.category {color: #79CBC7;}

		.multiplayer-area-list .sub-title {
			color: #777777;
			font-size: 11px;
			line-height: 13px;
			text-transform: uppercase;
		}

		.multiplayer-area-list p {
			color: #525252;
			display: block;
			font-size: 15px;
			line-height: 23px;
			max-width: 499px;
		}
		.multiplayer-area-list .button {
			float: left;
			font-size: 15px;
			line-height: 49px;
			padding: 0 0 0 20px;
			text-align: left;
			width: 169px;
		}
			.multiplayer-area-list .green .button {
				background: #BEDB39 url( "../img/ico-arrow.png" ) 123px center no-repeat;
				border-bottom: 3px solid #869C1D;
			}
			.green .button:hover, .button.green:hover {background-color: #A3BE23 !important;}

			.multiplayer-area-list .blue .button {
				background: #79CBC7 url( "../img/ico-arrow.png" ) 123px center no-repeat;
				border-bottom: 3px solid #5DB9B4;
			}

/*
	FOOTER
*/
#footer {
	background: url( "../img/background-footer.jpg" ) repeat;
	border-top: 10px solid #C6DB33;
	float: left;
	margin-top: 20px;
	width: 100%;
}
	#footer .categories {
		float: left;
		width: 100%;
	}
		#footer .categories ul {margin-top: 20px;}
			#footer .categories ul li {
				float: left;
				font-family: "Raleway", sans-serif;
				font-size: 10px;
				font-weight: 600;
				line-height: 30px;
				padding: 0;
				text-align: center;
			}
	#footer .logo {
		background: url( "../img/logo-footer-jogos-brasil.png" ) no-repeat;
		float: left;
		height: 26px;
		margin: 30px 0 0 0;
		padding: 0;
		width: 154px;
	}

	#footer .menu-footer ul {margin-top: 30px;}
		#footer .menu-footer ul li {font-size: 11px; margin: 0; padding: 0; text-align: center;}
			#footer .menu-footer ul li a {color: #DDDDDD;}
	#footer address {color: #DDDDDD; font-size: 11px; font-style: normal; margin: 20px 0 30px 0;}

/*
	CLASSES
*/

span.small {font-size: 10px;}

.montserrat {font-family: 'Montserrat', sans-serif;}
.raleway {font-family: 'Raleway', sans-serif;}
.roboto {font-family: 'Roboto', sans-serif;}

.light {font-weight: 300 !important;}
.medium {font-weight: 500 !important;}
.semibold {font-weight: 600 !important;}
.bold {font-weight: 700 !important;}

.no-padding {padding: 0;}

.sub-title-margin {margin-top: 20px;}
.full-width-title h2 {display: block; width: 100% !important;}

.text {
		color: #777777;
		font-size: 13px;
		margin: 10px 0;
	}

.header .xp {display: none;}

/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;*/

/* LARGE */

@media only screen and (min-width: 90.063em) {
	.game-list {padding: 0 !important;}
	.no-right-padding {padding-right: 0;}
}

/* MOBILE */

@media only screen and (max-width: 20.625em) {
	.limiter {width: 100% !important;}
	.only-for-small { display: block !important; }

	.header {padding: 0 !important;}
		.header .menu-button {float: left; margin: 0 !important; height: 70px !important; width: 70px !important;}
			#header .menu-button .ico {margin-top: 18px !important;}
		.header .logo {float: right !important; margin: 18px 20px 0 0 !important;}
		.header .search-button {float: right; margin: 5px 0 0 0 !important}
		.header .facebook {float: left !important; margin: 0 !important;}

	.game-list {padding: 20px !important;}

	.game-list div.game-box.big {margin: 0; width: 98%;}
	.game-list .small {margin: 0 20px 0 0 !important; width: 45.5%;}
	.game-list span.small {margin: 1px 0 0 5px !important;}

	.game-list.category div.small:nth-last-child(2n+2) {margin: 0 !important;}	
	.game-list.top-games div.small:nth-last-child(2n+1) {margin: 0 !important;}

	.game-list .game-box {margin-bottom: 20px !important;}

	h2 {width: 170px !important;}
		h2 .button {left: 225px !important;}

	.large-12.columns.no-right-padding.sub-title-margin {padding-right: 20px !important;}

	.multiplayer-area-list p {width: auto !important;}

	.menu-footer ul li {margin: 10px 0 !important;}

	.menu-dropdown-content {margin-top: 0px;}
	#header .menu-dropdown-content ul {margin-top: 10px !important;}

	.small-align {background: url( "../img/background-footer.jpg" ); float: left; padding: 10px 20px; height: 60px; width: 100%;}

	#header form {border: 0; display: none; left: 0; position: absolute; top: 70px; z-index: 6; min-width: 100%;}
		#header form input[ type="text" ] {background: rgba( 0, 0, 0, 0.4) no-repeat; border: 0; color: #FFF; font-size: 30px; padding: 0 45px 0 15px; height: 60px;}
		#header form input[ type="submit" ] {background: transparent url( "../img/ico-arrow-right.png" ) center center no-repeat; height: 19px; width: 14px; position: absolute; z-index: 7; top: 34px; right: 0; padding: 20px !important;}
			#header form input[ type="submit" ]:hover {background-color: transparent !important;}
			#header form .close-search {color: #FDF232; font-size: 10px; display: inline-block; position: absolute; top: 7px; right: 7px; padding: 5px 10px;}

	.hall-of-fame {margin: 25px 0 0 0 !important; min-width: 100% !important; width: 100%;}
	div.timeline {
			margin: 25px 0 0 0;
			padding-bottom: 15px;
			width: 100%;
		}
}

/**  **/
@media only screen and (max-width: 56.250em) {

}

@media only screen and (max-width: 1025px) {
	.ranking {
		width: 100% !important;
	}

	.hall-of-fame {
		background: url( "../img/background-hall-of-fame.png" ) repeat;
		float: left;
		margin: 25px 0 0 0 !important;
		width: 100%;
	}
}